/* delete the following line if no text is used */
/* edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

:root {
  --menu-icon-line-height: 8px;
  --menu-icon-line-space: 14px;
  --menu-icon-line-offsetY: calc(
    var(--menu-icon-line-height) + var(--menu-icon-line-space)
  );
  --menu-icon-height: calc(
    3 * var(--menu-icon-line-height) + 2 * var(--menu-icon-line-space)
  );
  --cubic-bezier-in: cubic-bezier(0.3, 1, 0.7, 1);
  --cubic-bezier-out: cubic-bezier(1, 0.7, 1, 0.3);
}

/* use only the available space inside the 400x400 frame */
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #3faf82;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  curson: pointer;
}

.menu-icon {
  width: 80px;
  height: var(--menu-icon-height);
  cursor: pointer;
  z-index: 50;
}

.line-1,
.line-2,
.line-3 {
  height: var(--menu-icon-line-height);
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
}

.menu-icon > *:not(:last-child) {
  margin-bottom: var(--menu-icon-line-space);
}

.menu-icon .line-1 {
  animation: animate-line-1-rev 0.7s ease-in-out;
}

.menu-icon .line-2 {
  animation: animate-line-2-rev 0.7s ease-in-out;
}

.menu-icon .line-3 {
  animation: animate-line-3-rev 0.7s ease-in-out;
}

.active .line-1 {
  animation: animate-line-1 0.7s var(--cubic-bezier-in) forwards;
}

.active .line-2 {
  animation: animate-line-2 0.7s var(--cubic-bezier-in) forwards;
}

.active .line-3 {
  animation: animate-line-3 0.7s var(--cubic-bezier-in) forwards;
}

.no-animation {
  animation: none !important;
}

@keyframes animate-line-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }

  50% {
    transform: translate3d(0, var(--menu-icon-line-offsetY), 0) rotate(0deg);
  }

  100% {
    transform: translate3d(0, var(--menu-icon-line-offsetY), 0) rotate(45deg);
  }
}

@keyframes animate-line-2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes animate-line-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }

  50% {
    transform: translate3d(0, calc(-1 * var(--menu-icon-line-offsetY)), 0)
      rotate(0deg);
  }

  100% {
    transform: translate3d(0, calc(-1 * var(--menu-icon-line-offsetY)), 0)
      rotate(135deg);
  }
}

@keyframes animate-line-1-rev {
  0% {
    transform: translate3d(0, var(--menu-icon-line-offsetY), 0) rotate(45deg);
  }

  50% {
    transform: translate3d(0, var(--menu-icon-line-offsetY), 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes animate-line-1-rev {
  0% {
    transform: translate3d(0, var(--menu-icon-line-offsetY), 0) rotate(45deg);
  }

  50% {
    transform: translate3d(0, var(--menu-icon-line-offsetY), 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes animate-line-2-rev {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes animate-line-3-rev {
  0% {
    transform: translate3d(0, calc(-1 * var(--menu-icon-line-offsetY)), 0)
      rotate(135deg);
  }
  50% {
    transform: translate3d(0, calc(-1 * var(--menu-icon-line-offsetY)), 0)
      rotate(0deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}
